<!DOCTYPE html>
<head id="Head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="order by bbs.易风课堂.com"/>
    <title>易风课堂-双语-视觉摄影</title>
    <meta name="description" content/>
    <meta name="keywords" content/>
    <meta http-equiv="page-enter" content="RevealTrans(Duration=0,Transition=1)"/>
    <link rel="stylesheet" type="text/css" href="css/qhdcontent.css"/>
    <link rel="stylesheet" type="text/css" href="css/content.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css"/>
    <link rel="stylesheet" type="text/css" href="css/pgwslideshow.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/style-orange.css"/>
    <style>

        html {
            background-image: url(images/bg-rep-03.png);
        }

    </style>
    <!--[if lt IE 9]>

    <script src="js/html5.js"></script>

    <![endif]--><!--[if IE 6]>

    <script type="text/javascript" src="js/ie7.js"></script>

    <script type="text/javascript" src="js/dd_belatedpng.js"></script>

    <script type="text/javascript">

        DD_belatedPNG.fix('.top img, .footer img, .bottom img, .form-btn, .module-icon-default');

    </script>

    <![endif]-->
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
</head>

<body class="font-zh-CN" style="background:url(images/bg-img-03.jpg) top center fixed;">
<div>
</div>
<script src="js/a1portalcore.js" type="text/javascript"></script>
<script src="js/a1portal.js"></script>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.caroufredsel.js"></script>
<script src="js/jquery.touchswipe.min.js"></script>
<script src="js/jquery.tools.min.js"></script>
<script src="js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="js/pgwslideshow.min.js"></script>
<script src="js/jquery.fixed.js"></script>
<script src="js/cloud-zoom.1.0.2.min.js"></script>
<script src="js/device.min.js"></script>
<script src="js/html5media-1.2.js"></script>
<script src="js/animate.min.js"></script>
<script src="js/custom.js"></script>
<div id="wrapper" class="insi-page">
    <header class="top header-v1 desktops-section default-top">
        <div class="top-main">
            <div class="page-width clearfix">
                <div class="logo" skinobjectzone="HtmlLogo_399"><a href="#"><img src="images/logo.png" alt="易风课堂"/></a>
                </div>

                <div class="top-main-content clearfix">
                    <nav class="nav">
                        <div class="main-nav clearfix" skinobjectzone="menu_468">
                            <ul class="sf-menu">
                                <li><a class="first-level" href="#" target><strong>首页</strong></a><i></i></li>
                                <li class><a class="first-level" href="#" target><strong>关于我们</strong></a><i></i>
                                    <ul class>
                                        <li class><a class href="#" target><strong>公司简介</strong></a></li>
                                        <li class><a class href="#" target><strong>专业团队</strong></a></li>
                                        <li class><a class href="#" target><strong>人才招聘</strong></a></li>
                                    </ul>
                                </li>
                                <li class><a class="first-level" href="#" target><strong>摄影作品</strong></a><i></i>
                                    <ul class>
                                        <li class><a class href="#" target><strong>服装摄影</strong></a></li>
                                        <li class><a class href="#" target><strong>产品摄影</strong></a></li>
                                        <li class><a class href="#" target><strong>皮具摄影</strong></a></li>
                                        <li class><a class href="#" target><strong>化妆品摄影</strong></a></li>
                                        <li class><a class href="#" target><strong>珠宝饰品</strong></a></li>
                                    </ul>
                                </li>
                                <li class><a class="first-level" href="#" target><strong>模特资料</strong></a><i></i>
                                    <ul class>
                                        <li class><a class href="#" target><strong>国内女模特</strong></a></li>
                                        <li class><a class href="#" target><strong>国内男模特</strong></a></li>
                                        <li class><a class href="#" target><strong>国外女模特</strong></a></li>
                                        <li class><a class href="#" target><strong>国外男模特</strong></a></li>
                                    </ul>
                                </li>
                                <li class><a class="first-level" href="#" target><strong>摄影场景</strong></a><i></i>
                                    <ul class>
                                    </ul>
                                </li>
                                <li class="current"><a class="first-level" href="#"
                                                       target><strong>新闻资讯</strong></a><i></i>
                                    <ul class>
                                        <li class><a class href="#" target><strong>公司新闻</strong></a></li>
                                        <li class><a class href="#" target><strong>摄影学堂</strong></a></li>
                                    </ul>
                                </li>
                                <li class><a class="first-level" href="#" target><strong>联系我们</strong></a><i></i>
                                    <ul class>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="language" skinobjectzone="HtmlLanguage_1279">
                    <ul class="sf-menu">
                        <li><a href="javascript:;" class="first-level"><span><em>中文简体</em></span></a>
                            <ul>
                                <li><a href="#"><span><em>English</em></span></a></li>
                                <li><a href="#"><span><em>中文简体</em></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </header>

    <div id="a1portalSkin_headerAreaA" class="header"><a name="31858" id="31858"></a>
        <div class="module-default">
            <div class="module-inner">
                <div id="a1portalSkin_ctr107135107135_mainArea" class="module-content">
                    <div class="slideshow slideshow-min carousel clearfix" style="height:450px; overflow:hidden;">
                        <div id="carousel-107135">
                            <div class="carousel-item">
                                <div class="carousel-img"><a href="javascript:;" target><img src="images/18.jpg"
                                                                                             height="450"
                                                                                             alt="公司新闻"/></a></div>
                            </div>
                        </div>
                        <div class="carousel-btn carousel-btn-fixed" id="carousel-page-107135"></div>
                    </div>
                    <script type="text/javascript">
                        $(window).bind("load resize", function () {
                            $("#carousel-107135").carouFredSel({
                                width: '100%',
                                items: {visible: 1},
                                auto: {pauseOnHover: true, timeoutDuration: 5000},
                                swipe: {onTouch: true, onMouse: true},
                                pagination: "#carousel-page-107135",
                                scroll: {fx: "crossfade"}
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <section class="main">
        <div class="page-width clearfix">
            <section class="content float-right">
                <section class="page-title page-title-inner clearfix">
                    <div class="breadcrumbs float-right" skinobjectzone="HtmlBreadCrumb_3806"><span>当前位置：</span><a
                            href="#">主页</a> > <a href="#">新闻资讯</a> > <a href="#">公司新闻</a> >
                    </div>

                    <div class="page-name float-left">
                        <h2>公司新闻</h2>
                    </div>
                </section>

                <div id="a1portalSkin_mainArea" class="content-wrapper"><a name="31832" id="31832"></a>
                    <div class="module-default">
                        <div class="module-inner">
                            <div id="a1portalSkin_ctr107133107133_mainArea" class="module-content">

                                <div class="article-detail">
                                    <div class="article-title">
                                        <h1>易风课堂-企业快速建站视频教程</h1>
                                    </div>
                                    <div class="entry-meta"><span><strong>所属分类：</strong><a
                                            href="#">公司新闻</a></span><span><strong>发布时间：</strong><strong>2016-10-31</strong></span>
                                        <div class="share-toolbar clearfix">
                                            <div class="bdsharebuttonbox"><span>分享到：</span><a title="分享到QQ空间" href="#"
                                                                                              class="bds_qzone"
                                                                                              data-cmd="qzone"></a><a
                                                    title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a
                                                    title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a
                                                    title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a
                                                    href="#" class="bds_more" data-cmd="more"></a></div>
                                            <script>
                                                window._bd_share_config = {
                                                    "common": {
                                                        "bdSnsKey": {},
                                                        "bdText": "",
                                                        "bdMini": "2",
                                                        "bdMiniList": false,
                                                        "bdPic": "",
                                                        "bdStyle": "0",
                                                        "bdSize": "16"
                                                    }, "share": {}
                                                };
                                                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                                            </script>
                                        </div>
                                    </div>
                                    <div class="article-content-wrapper">
                                        <div class="article-content">
                                            <div class="qhd-content">
                                                <p>
                                                    如今提到卖产品，很多人都会想到在网上卖了，于是大家可能都会想到同一个问题，我们到哪里找人帮我们产品拍照呢？一般人看得多的是普通的照相馆，有些人还想找婚纱摄影公司，这些想法都是最自然的，因为这是大家了解的条件。其实随着电商的发展，电商摄影已经在摄影行业细分了出来，专业从事于产品摄影、商品拍照的商业摄影的工作室形式和公司不断涌现，能够为客户们带来最好的摄影作品，提高产品的形象，增加产品的销量。其实，光影视觉在发展的道路上可以说是经历了一个漫长的过程，其在时间的沉淀中慢慢寻找适合自己的路。</p>
                                                <p>
                                                    近日，随着2010年的结束，2011年又将开启新的旅程，记者获悉在广州摄影行业比较认可的品牌，口碑一直都很好的广州光影视觉召开了一次年终总结大会，内容是回顾公司在这一年来的发展，并制定了新的一年的计划。</p>
                                                <p>
                                                    在联系了光影视觉负责人后，记者了解到公司的这次总结大会本着&ldquo;新年新启程&rdquo;为主题，所有的工作人员都参与到了这次会议中。会议上，针对一年来的商业合作项目，分析探讨了在项目中存在的问题，并提出了相应的改正意见。同时，在本次的大会中每位工作人员都进行了一年来的心路独白，总结自己的工作胜败经验并提出自己来年中的工作计划和培训项目。此外，为了能够增强团队的服务意识和效率，公司成员们共同制定了在今后的日子里要继续奋斗前进的目标，希望在2011这个新的开始为带来更好的成绩。</p>
                                                <p>
                                                    记者在采访一位光影视觉的工作人员的时候了解到在即将到来的元旦中，公司为了能够回馈员工们的努力，将在元旦当天提供广州长隆欢乐世界一天游的福利。这位工作人员同时告诉记者这不是公司第一次有这样的福利了，每逢过节假日，公司都会提供很多别样化的福利。&ldquo;即将结束的一年里，大家也已经准备好聚餐的打算了，这一年的辛苦都是没有白费的。&rdquo;他兴奋地告诉记者，&ldquo;明年我们也将会更加努力地带来更多的好作品，敬请大家期待。&rdquo;</p>
                                                <p>
                                                    走出光影视觉，这样其乐融融又具有良好工作环境给我留下比较深刻的印象，光影视觉一定能够会在2011年给大家带来更多的惊喜。&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sidebar float-left">
                <div id="a1portalSkin_sidebarAreaA" class="sidebar-content"><a name="31827" id="31827"></a>
                    <div class="module module-hlbg">
                        <div class="module-inner">
                            <div class="module-hlbg-title clearfix">
                                <h3 class style>新闻资讯</h3>
                            </div>
                            <div id="a1portalSkin_ctr107137107137_mainArea" class="module-hlbg-content">
                                <div class="category category-107137 article-category">
                                    <ul>
                                        <li class="current"><a href="#">公司新闻</a><i></i></li>
                                        <li class><a href="#">摄影学堂</a><i></i></li>
                                    </ul>
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('.category-107137 ul ul').find('li:last').addClass('last');

                                        $('.category-107137 > ul > li > a').click(function () {
                                            if ($(this).parent('li').find('ul')) {
                                                $(this).parent('li').find('ul').slideDown('fast');
                                                $(this).parent('li').siblings('li').find('ul').slideUp('fast');
                                                $(this).parent('li').addClass('current').siblings('li').removeClass('current');
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <a name="31863" id="31863"></a>
                    <div class="module module-hlbg">
                        <div class="module-inner">
                            <div class="module-hlbg-title clearfix">
                                <h3 class style>摄影作品</h3>
                            </div>
                            <div id="a1portalSkin_ctr107130107130_mainArea" class="module-hlbg-content">
                                <div class="category category-107130 article-category">
                                    <ul>
                                        <li class><a href="#" target>服装摄影</a><i></i></li>
                                        <li class><a href="#" target>产品摄影</a><i></i></li>
                                        <li class><a href="#" target>皮具摄影</a><i></i></li>
                                        <li class><a href="#" target>化妆品摄影</a><i></i></li>
                                        <li class><a href="#" target>珠宝饰品</a><i></i></li>
                                    </ul>
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('.category-107130 ul ul').find('li:last').addClass('last');

                                        $('.category-107130 > ul > li > a').click(function () {
                                            if ($(this).parent('li').find('ul')) {
                                                $(this).parent('li').find('ul').slideDown('fast');
                                                $(this).parent('li').siblings('li').find('ul').slideUp('fast');
                                                $(this).parent('li').addClass('current').siblings('li').removeClass('current');
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-main">
            <div id="a1portalSkin_footerAreaA" class="page-width clearfix"><a name="31848" id="31848"></a>
                <div class="module-default">
                    <div class="module-inner">
                        <div id="a1portalSkin_ctr107119107119_mainArea" class="module-content">
                            <div class="qhd-module">
                                <div class="column marg-per2">
                                    <div class="col-5-1">
                                        <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M1"
                                             class="qhd_column_contain"><a name="31849" id="31849"></a>
                                            <div class="module-default">
                                                <div class="module-inner">
                                                    <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107120107120_mainArea"
                                                         class="module-content">
                                                        <div class="qhd-content">
                                                            <p style="text-align: center;"><img alt
                                                                                                src="images/weixin.png"
                                                                                                style="width: 120px; height: 120px;"/><br/>
                                                                扫描关注微信</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5-1">
                                        <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M2"
                                             class="qhd_column_contain"><a name="31850" id="31850"></a>
                                            <div class="module-default">
                                                <div class="module-inner">
                                                    <div class="module-title module-title-default clearfix">
                                                        <div class="module-title-content clearfix">
                                                            <h3 style class>摄影作品</h3>
                                                        </div>
                                                    </div>
                                                    <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107121107121_mainArea"
                                                         class="module-content">
                                                        <div class="link link-block">
                                                            <ul>
                                                                <li><a href="#" target="_blank"><span>服装摄影</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>产品摄影</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>皮具摄影</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>化妆品摄影</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>珠宝饰品</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5-1">
                                        <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M3"
                                             class="qhd_column_contain"><a name="31851" id="31851"></a>
                                            <div class="module-default">
                                                <div class="module-inner">
                                                    <div class="module-title module-title-default clearfix">
                                                        <div class="module-title-content clearfix">
                                                            <h3 style class>模特资料</h3>
                                                        </div>
                                                    </div>
                                                    <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107122107122_mainArea"
                                                         class="module-content">
                                                        <div class="link link-block">
                                                            <ul>
                                                                <li><a href="#" target="_blank"><span>国内女模特</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>国内男模特</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>国外女模特</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>国外男模特</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5-1">
                                        <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M4"
                                             class="qhd_column_contain"><a name="31852" id="31852"></a>
                                            <div class="module-default">
                                                <div class="module-inner">
                                                    <div class="module-title module-title-default clearfix">
                                                        <div class="module-title-content clearfix">
                                                            <h3 style class>关于我们</h3>
                                                        </div>
                                                    </div>
                                                    <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107123107123_mainArea"
                                                         class="module-content">
                                                        <div class="link link-block">
                                                            <ul>
                                                                <li><a href="#" target="_blank"><span>公司简介</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>公司新闻</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>专业团队</span></a>
                                                                </li>
                                                                <li><a href="#" target="_blank"><span>人才招聘</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5-1 last">
                                        <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M5"
                                             class="qhd_column_contain"><a name="31853" id="31853"></a>
                                            <div class="module-default">
                                                <div class="module-inner">
                                                    <div class="module-title module-title-default clearfix">
                                                        <div class="module-title-content clearfix">
                                                            <h3 style class>联系我们</h3>
                                                        </div>
                                                    </div>
                                                    <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107124107124_mainArea"
                                                         class="module-content">
                                                        <div class="qhd-content">
                                                            <p> 电话：400-XXX-XXXX<br/>
                                                                传真：+86-0371-12345678<br/>
                                                                邮箱：<a href="#">XXXX@163.com</a><br/>
                                                                地址：公司经营地址</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="bottom">
        <div id="a1portalSkin_bottomAreaA" class="page-width clearfix"><a name="31854" id="31854"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr107125107125_mainArea" class="module-content">
                        <div class="qhd-module">
                            <div class="column">
                                <div class="col-5-3">
                                    <div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M1"
                                         class="qhd_column_contain"><a name="31855" id="31855"></a>
                                        <div class="module-default module-no-margin">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107126107126_mainArea"
                                                     class="module-content">
                                                    <div class="qhd-content">
                                                        <p>Copyright © 2017-2018 daxue518. 易风课堂 版权所有
                                                            &nbsp;&nbsp;&nbsp;ICP备********号</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5-2 last">
                                    <div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M2"
                                         class="qhd_column_contain"><a name="31856" id="31856"></a>
                                        <div class="module-default module-no-margin">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107127107127_mainArea"
                                                     class="module-content">
                                                    <div class="qhd-content">
                                                        <p style="text-align: right;"><a style="display:none"
                                                                                         href="http://www.daxue518.com"
                                                                                         title="易风课堂">易风课堂</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
</body>
</html>