<footer class="footer">
    <div class="footer-main">
        <div id="a1portalSkin_footerAreaA" class="page-width clearfix"><a name="31848" id="31848"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr107119107119_mainArea" class="module-content">
                        <div class="qhd-module">
                            <div class="column marg-per2">
                                <div class="col-5-1">
                                    <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M1"
                                         class="qhd_column_contain"><a name="31849" id="31849"></a>
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107120107120_mainArea"
                                                     class="module-content">
                                                    <div class="qhd-content">
                                                        <p style="text-align: center;"><img alt src="__INDEX__/images/weixin.jpg" style="width: 120px; height: 120px;"/><br/>
                                                            扫描关注微信</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5-1 last">
                                    <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_QHDCPM107119M5"
                                         class="qhd_column_contain"><a name="31853" id="31853"></a>
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div class="module-title module-title-default clearfix">
                                                    <div class="module-title-content clearfix">
                                                        <h3 style="font-size: 18px" class>走近博主</h3>
                                                    </div>
                                                </div>
                                                <div id="a1portalSkin_ctr107119107119_Column5C20A20A20A20A20_ctr107124107124_mainArea"
                                                     class="module-content">
                                                    <div style="width: 980px" class="qhd-content">
                                                        <p>
                                                            <a target="_blank" href="{$config.zhihu}"><img style="width: 70px;margin-right: 50px" src="__INDEX__/images/zhihu.png"></a>
                                                            <a target="_blank" href="{$config.weibo}"><img style="width: 70px;margin-right: 50px" src="__INDEX__/images/weibo.png"></a>
                                                            <a target="_blank" href="{$config.github}"><img style="width: 70px;margin-right: 50px" src="__INDEX__/images/github.png"></a>
                                                            <a target="_blank" href="{$config.blibli}"><img style="width: 70px" src="__INDEX__/images/blibli.png"></a>
                                                            </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="bottom">
    <div id="a1portalSkin_bottomAreaA" class="page-width clearfix"><a name="31854" id="31854"></a>
        <div class="module-default">
            <div class="module-inner">
                <div id="a1portalSkin_ctr107125107125_mainArea" class="module-content">
                    <div class="qhd-module">
                        <div class="column">
                            <div class="col-5-3">
                                <div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M1"
                                     class="qhd_column_contain"><a name="31855" id="31855"></a>
                                    <div class="module-default module-no-margin">
                                        <div class="module-inner">
                                            <div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107126107126_mainArea"
                                                 class="module-content">
                                                <div style="text-align: center" class="qhd-content">
                                                    <p>博主：<a href="http://www.ipso.live"> {$config.author}</a></p>
                                                     <p>友情链接：<p><a href="http://www.iimt.me">iimT</a></p>
                                                            <p><a href="http://722first.club">goodtimp</a></p></p>
                                                     <p>浙ICP备18046964号</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5-2 last">
                                <div id="a1portalSkin_ctr107125107125_Column2C60A40_QHDCPM107125M2"
                                     class="qhd_column_contain"><a name="31856" id="31856"></a>
                                    <div class="module-default module-no-margin">
                                        <div class="module-inner">
                                            <div id="a1portalSkin_ctr107125107125_Column2C60A40_ctr107127107127_mainArea"
                                                 class="module-content">
                                                <div class="qhd-content">
                                                    <p style="text-align: right;"><a style="display:none" href="http://www.daxue518.com" title="ipso">ipso</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>